<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
		 bootstrap="bootstrap.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
		 verbose="true">
    <testsuites>
        <testsuite name="unittests">
            <directory>unittests</directory>
            <file>unittests/TestModel.php</file>
        </testsuite>
    </testsuites>
</phpunit>
